name: PR-Check

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - release*

jobs:
  build:
    runs-on: ubuntu-latest 
    name: Build Job

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean install

      - name: Run tests
        run: mvn test

      - name: Lint with Checkstyle
        run: mvn checkstyle:check
 
      - name: Update PR status to success
        if: success()
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha,
              state: 'success',
              context: 'CI',
              description: 'Build and tests passed',
              target_url: '${{ github.event.pull_request.html_url }}'
            })

      - name: Update PR status to failure
        if: failure()
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha,
              state: 'failure',
              context: 'CI',
              description: 'Build or tests failed',
              target_url: '${{ github.event.pull_request.html_url }}'
            })
